<!doctype html>
<html ng-app="Projekt">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-controller="kontrola" class="container">

      <div ng-show="formSave" class="jumbotron col-lg-12" style="text-align: left;">
        <p class="bg-primary text-center">Konto zostało założone!</p>
        <div class="col-lg-6">
          <h4><strong>USER:</strong></h4>
              <h4>
                Login: <strong>{{user.login}}</strong><br>
              </h4>
              <h4>
                Email: <strong>{{user.email}}</strong><br>
              </h4>
              <h4>
                Specjalnosc: <strong>{{user.specjalnosc.name}}</strong><br>
              </h4>
              <h4>
                Programy: <br><h5><strong><span ng-repeat="ulu in user.ulubione">{{ulu.name}}  </span></strong></h5><br>
              </h4>
              <h4>
                Staż: <strong>{{ user.staz.name }}</strong><br>
              </h4>
        </div>
        <div class="col-lg-4">
          <img ng-src="{{ header.pic }}" alt="" />
        </div>
      </div>

      <form ng-hide="formSave" ng-submit="formSave = true" novalidate>
      <div class="text-left">

          <br>
          <strong>Login: </strong>
          <input class="form-control" type="text" ng-model="user.login" ng-focus="komunikat = true" ng-blur="komunikat = false">
            <h6 ng-show="komunikat" class="komunikacik">Na podstawie twojego loginu utowrzymy konto email</h6>
            <br><br>
          <strong>Email: </strong>
            <input class="form-control" type="email" ng-model="user.email" ng-disabled="useOutMail" ng-readonly="useOurMail">


        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="useOurMail" ng-disabled="!user.login" ng-change="user.email = user.login+'@email.pl'"> Użyk email w naszej domenie
            <span ng-show="user.login">{{user.login}}@emial.com</span>
          </label>
        </div>
      </div>
      <div class="form-group">
              <select
              class="form-control"
              ng-model="user.specjalnosc"
              ng-options="spec.name group by spec.type for spec in specjalnosc">
                  <option value="">Wybierz specjalizacje</option>
              </select>
      </div>
      <strong>Ulubione programy</strong>
      <div class="checkbox" ng-repeat="ulu in ulubione">
        <label>
          <input type="checkbox" value="ulu.name" ng-model="ulu.selected" ng-change="wysProg()">
          {{ulu.name}}
        </label>
      </div>
      <strong>Staż:</strong>
      <div class="radio" ng-repeat="ile in staz">
        <label>
          <input type="radio" name="name" ng-model="user.staz" ng-value="ile">
          {{ ile.name }}
        </label>
      </div>
      <button class="btn btn-success">Zapisz dane</button>
      <!-- <input type="button" class="btn btn-success" value="Dołącz"> -->
    </div>
    </form>






</div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="scripts/controllers/control.js"></script>        <!-- build:js({.tmp,app}) scripts/scripts.js -->

        <!-- endbuild -->
</body>
</html>
